[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
proselint = "*"
mypy = "*"
jinja2 = "*"
python-slugify = "*"
termcolor = "*"
lxml = "*"
minify-html = "*"

[dev-packages]

[requires]
python_version = "3.9"
