<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude" xml:lang="en" lang="en">
  <head>
    <title>Blog Index - {{sitename}}</title>
	<xi:include href="head.html" parse="xml" />
  </head>
  <body>
	<xi:include href="nav.html" parse="xml" />
	<div id="doc">
	  <h1>{{title}}</h1>
	  <img src="{{image}}" />
	  <p class="byline">
		{{author}} {{date}}
	  </p>
	  <p>{{teaser}}</p>
	</div>
	<xi:include src="footer.html" parse="xml" />
  </body>
</html>
