<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	<title>{{title}} - {{sitename}}</title>
	<xi:include href="style/head.html" parse="xml" />
  </head>
  <body>
	<xi:include href="style/nav.html" parse="xml" />
	<div id="doc">
	  <main>
		<h1>{{title}}</h1>
		<img src="{{image}}" />
		<p class="byline">
		  {{author}} {{date}}
		</p>
		{{content}}
		<p>Admit­tedly, we took a few short­cuts in <a href="/">stacker</a>. To be fair, we had a lot of ground to cover. We had to learn about the two essen­tial compo­nents of a Racket language—the <a href="/">reader</a> and the <a href="/">expander</a>. We had to learn some basic concepts of the Racket language itself like <a href="/">expres­sions</a> and <a href="/">macros</a>. In <a href="/">funstacker</a> we filled in some details about <a href="/">func­tional program­ming</a>.</p>
	  </main>
	  <nav id="blog-nav">
		<ul>
		  <li><a href="/">All blog posts</a></li>
		  <li><a href="/">{{related_links}}</a></li>
		</ul>
	  </nav>
	<xi:include href="style/footer.html" parse="xml" />
	</div>
  </body>
</html>
