/* TODO: copy these locally */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');

body {
	background-color: #d1c59e;
	margin: 0;
	padding: 0;
	--nav-padding: max(0.8vw, 10px);
	--nav-font-size: max(1.2vw, 15px);
}
nav {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	background-color: #333;
	position: fixed;
}
nav > *.stretch {
	flex: 2;
	flex-basis: 50%;
	text-align: left;
}
nav > *.fixed {
	flex: 1;
	text-align: center;
}
nav > * {
	padding: var(--nav-padding);
	font-size: var(--nav-font-size);
	color: white;
	font-family: 'Fira Sans', sans-serif;
}
nav a {
	text-decoration: none;
	color: white;
}
nav a:hover {
	background-color: #555;
}
#column {
	margin-top: calc(var(--nav-padding) * 2 + var(--nav-font-size) + 2vw);
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}
h1 {
	font-family: 'Fira Sans', sans-serif;
	/* font-size:  */
	/* text-color:  */
	/* margin-top:  */
	/* margin-bottom:  */
}
h2 {
	font-family: 'Fira Sans', sans-serif;
	/* font-size:  */
	/* text-color:  */
	/* margin-top:  */
	/* margin-bottom:  */
}
p {
	line-height: 1.4;
	font-family: 'Source Serif 4', sans-serif;
	/* font-size:  */
	/* text-color:  */
	/* margin-top:  */
	/* margin-bottom:  */
}
main a {
	color: #07a;
	text-decoration: none;
}
main a:visited {
	color: #67a;
}
main a:hover {
	background: #f2f8fa;
}
footer {
	margin-top: 4vw;
}
