{% for post in posts %}
  <article typeof="BlogPosting" class="blog-teaser">
    <h1 property="name">
      <a href="{{post.slug}}.html">
        {{post.title}}
      </a>
    </h1>
    <figure>
      <img property="contentUrl" src="{{post.image.url}}" alt="{{post.image.alt}}" />
      <figcaption>{{post.image.caption}}</figcaption>
    </figure>
    <p class="byline">
      by
      <a property="author" href="{{post.author.url}}">
        {{post.author.name}}
      </a>
      on
      <time datetime="{{post.date-published | iso-date}}">
        {{post.date-published | human-readable-date}}
      </time>
    </p>
    <p>
      {{post.teaser}}
    </p>
  </article>
  {% if not forloop.last %}
    <hr />
  {% endif %}
{% endfor %}
