<article typeof="BlogPosting">
  <header>
    <h1 property="name">
      <a href="{{post.path}}">
        {{post.title}}
      </a>
    </h1>
    <p class="byline">
      by
	  <a property="author" href="{{post.author.url}}">
        {{post.author.name}}
	  </a>
      on
      <time datetime="{{post.date-published | iso-date}}">
        {{post.date-published | human-readable-date}}
      </time>
    </p>
    <figure>
      <img src="{{post.image.url}}" alt="{{post.image.alt}}" />
      <figcaption>{{post.image.caption}}</figcaption>
    </figure>
  </header>
  {{post.content | safe}}
  <footer>
    <p class="cite-as">
	  This work is licensed under <a rel="license" href="{{post.license.url}}">{{post.license.name}}</a>.
      Cite as:
      <span property="creditText">
        “<a href="{{post.url}}">
          {{post.title}}
        </a>
        by
        <a href="{{post.author.url}}">
          {{post.author.name}}
        </a>”
      </span>.
    </p>
  </footer>
</article>
