@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Serif+4&display=swap');

body {
	background-color: #d1c59e;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 2vw;
	padding: 0;
	--nav-padding: max(0.8vw, 10px);
	--nav-font-size: max(1.2vw, 15px);
}
nav {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	background-color: #333;
	position: fixed;
}
nav > *.stretch {
	flex: 2;
	flex-basis: 50%;
	text-align: left;
}
nav > *.fixed {
	flex: 1;
	text-align: center;
}
nav > * {
	padding: var(--nav-padding);
	font-size: var(--nav-font-size);
	color: white;
	font-family: 'Fira Sans', sans-serif;
}
nav a {
	text-decoration: none;
	color: white;
}
nav a:hover {
	background-color: #555;
}
main {
	margin-top: calc(var(--nav-padding) * 2 + var(--nav-font-size) + max(2vw, 20px));
	margin-left: auto;
	margin-right: auto;
	width: min(95vw, 700px);
	padding-left: 2vw;
	padding-right: 2vw;
}
main img {
	max-width: 100%;
}
h1 {
	font-family: 'Fira Sans', sans-serif;
	font-size: 18pt;
	font-weight: bold;
}
h2 {
	font-family: 'Fira Sans', sans-serif;
	font-size: 16pt;
	font-weight: bold;
}
p {
	line-height: 1.44;
	font-family: 'Source Serif 4', sans-serif;
	font-size: min(14pt, 3.9vw);
}
p.byline {
	font-family: 'Fira Sans', sans-serif;
}
p.caption {
	margin: 0;
}
p.attribution, p.license, p.cite-as {
	margin: 0;
	color: #444;
	font-size: min(12pt, 3.4vw);
}
figure {
	margin-left: 3vw;
	margin-right: 3vw;
	margin-bottom: 0;
	margin-top: 0;
}
main a {
	color: #048;
	text-decoration: none;
}
/* anchorized titles */
main h1 > a, main h2 > a, main h3 > a {
	color: black;
}
main a:visited {
	color: #648;
}
main a:hover {
	background: #acf;
}
h1 a, h2 a {}
.blog-teaser {
	display: inline-block;
}
.blog-teaser h1 {
	display: inline;
}
.blog-teaser img {
	margin: 5px;
}
.blog-teaser img {
	float: right;
	max-width: 50%;
}
