<!doctype html>
<html lang="{{page.language}}">
    <head>
	    <!-- Tags for search engines -->
		<meta charset="UTF-8" />
        <meta name="description" content="{{page.teaser | html2text}}" />
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{page.title}}</title>

        <!-- Opengraph tags for Facebook and others: https://ogp.me/ -->
        <meta property="og:title" content="{{page.title}}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{page.url}}" />
        <meta property="og:image" content="{{page.image.url}}" />
        <meta property="og:image:alt" content="{{page.image.alt}}" />
        <meta property="og:description" content="{{page.teaser | html2text}}" />
        <meta property="og:locale" content="{{page.language | replaceDashWithUnder}}" />
        <meta property="og:site_name" content="{{site.name}}" />

        <!-- Twitter card: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/summary -->
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:site" content="{{site.twitter}}" />
        <meta property="twitter:title" content="{{page.title}}" />
        <meta property="twitter:description" content="{{page.teaser | html2text}}" />
        <meta property="twitter:image" content="{{page.image.url}}" />
        <meta property="twitter:image:alt" content="{{page.image.alt}}" />

        <link rel="stylesheet" href="{{page.root}}/main.css" />
    </head>
    <body>
        <main id="main">
            {{ content | safe }}
        </main>
    </body>
</html>
