<!doctype html>
<html lang="{{page.language}}">
  <head>
    <!-- Tags for search engines -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page.title}}</title>

    <link rel="shortcut icon" href="/favicon.svg">

    {% if page.content? %}
      <meta name="description" content="{{page.teaser | html2text}}" />
      <meta name="robots" content="index, follow" />

      <!-- Opengraph tags for Facebook and others: https://ogp.me/ -->
      <meta property="og:title" content="{{page.title}}" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="{{site.url}}{{path | str}}" />
      <meta property="og:image" content="{{page.image.url}}" />
      <meta property="og:image:alt" content="{{page.image.alt}}" />
      <meta property="og:description" content="{{page.teaser | html2text}}" />
      <meta property="og:locale" content="{{page.language | replaceDashWithUnder}}" />
      <meta property="og:site_name" content="{{site.name}}" />

      <!-- Twitter card: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/summary -->
      <meta property="twitter:card" content="summary" />
      <meta property="twitter:site" content="{{site.twitter}}" />
      <meta property="twitter:title" content="{{page.title | warn-if-longer-than:70}}" />
      <meta property="twitter:description" content="{{page.teaser | html2text | warn-if-longer-than:200}}" />
      <meta property="twitter:image" content="{{page.image.url}}" />
      <meta property="twitter:image:alt" content="{{page.image.alt}}" />
    {% else %}
      <meta name="robots" content="noindex, nofollow" />
    {% endif %}

    <link rel="stylesheet" href="/text/main.css" />
  </head>
  <body>
    <nav>
      <a class="stretch" href="/">{{site.name}}</a>
      {% for navblock in site.nav %}
        <a class="fixed" href="{{navblock.url}}">{{navblock.text}}</a>
      {% endfor %}
    </nav>
    <main id="main">
      {{ content | safe }}
    </main>
  </body>
</html>
