<article vocab="http://schema.org/" typeof="BlogPosting" lang="{{language}}">
  <header>
    <h1 property="headline name">
      <a property="url" href="">
        {{title}}
      </a>
    </h1>
    <p class="byline">
      by
      <span property="copyrightHolder author" resource="{{author.url}}">
        <a href="{{author.url}}">
          {{author.name}}
        </a>
      </span>
      on
      <time property="dateCreated" datetime="{{date-published | iso-date}}">{{date-published | human-readable-date}}</time>{% if date-modified %} (modified <time property="dateModified" datetime="{{date-modified | iso-date}}">{{date-modified | human-readable-date}}</time>){% endif %}.
    </p>
    <figure>
      <img property="thumbnailUrl" src="{{image.url}}" alt="{{image.alt}}" />
      <figcaption>
        {% if image.caption %}
          {{image.caption}}
        {% else %}
          {% comment %}{{image.alt}}{% endcomment %}
        {% endif %}
        <br />
        <span class="attribution">
          Credit: {{image.attribution.text}}
          {% if image.attribution.attrib_url %}
            <a href="{{image.attribution.attrib_url}}">[source]</a>
          {% endif %}
        </span>
      </figcaption>
    </figure>
  </header>
  <div property="description" style="display: none;">
    {{teaser}}
    <span property="inLanguage">{{language}}</span>
  </div>
  <div property="text articleBody">
    {{content | safe}}
  </div>
  <footer>
    <p class="license">
      This work is licensed under <a property="license" href="{{license.url}}">{{license.name}}</a>.
      Cite as:
      <span property="creditText">
        “<a href="">{{title}}</a>
        by
        <a href="{{author.url}}">{{author.name}}</a>”
      </span>
	</p>
  </footer>
</article>
